/docs
/portal/.phpunit.cache
/portal/node_modules
/portal/public/build
/portal/public/hot
/portal/public/storage
/portal/storage/*.key
/portal/vendor
/portal/.env.backup
/portal/.env.production
/portal/.phpunit.result.cache
/portal/Homestead.json
/portal/Homestead.yaml
/portal/auth.json
/portal/npm-debug.log
/portal/yarn-error.log
/portal//.fleet
/portal//.idea
/portal//.vscode